In [1]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)
from tqdm.notebook import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd 
import numpy as np
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\alexander\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\alexander\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\alexander\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alexander\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alexander\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alexander\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.3)

In [3]:
import json
with open('/Users/Alexander/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [4]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [5]:
connection = "mysql+pymysql://root:root@localhost/movies"

In [6]:
engine = create_engine(connection)

In [7]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
    create_database(connection)
else:
    print('The database already exists')

The database already exists

In [8]:
df00= pd.read_csv('Data/final_tmdb_data_2000.csv.gz')

In [9]:
df01= pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [10]:
title_b = pd.read_csv('Data/title_basics.csv.gz')

In [11]:
title_b

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
83102,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
83103,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
83104,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
83105,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
83106,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [12]:
title_b['genres_split'] = title_b['genres'].str.split(',')

In [13]:
title_b

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
83102,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
83103,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
83104,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
83105,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
83106,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [14]:
explode_genres = title_b.explode('genres_split')
explode_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
83105,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
83105,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
83105,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
83106,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
83106,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [15]:
genres_split = title_b['genres'].str.split(",")

In [16]:
# 1. Getting List of Unique Genres
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Mystery', 'Musical', 'Action', 'Adventure', 'Crime', 'Thriller',
       'Music', 'Animation', 'Family', 'History', 'War', 'Biography',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [17]:
unique_genres = sorted(explode_genres['genres_split'].unique())
# sorted aplphabetically

In [18]:
# 2. Create a new title_genres table
title_genres = explode_genres[['tconst', 'genres_split']].copy()
title_genres.head(3)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance

In [19]:
# 3. Create a genre mapper dictionary to replace string genres with integers
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [20]:
# Make a new dictionary with a list of unique genres as the key
# and the new iteger id as values 
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [21]:
# 4. Replace the string genres in title_genres with the new integer ids.
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].replace(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [22]:
# 5. Convert the genre map dictionary into a dataframe.
# Manually make dataframe with named columns from from .keys and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                             'Genre_ID': genre_id_map.values()})
genre_lookup.head(3)

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2

In [23]:
title_genres.dtypes

tconst      object
genre_id     int64
dtype: object

In [24]:
## get max string length
max_str_len = title_genres['tconst'].fillna('').map(len).max()

In [25]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = title_genres['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    'genre_id':Integer()}

In [26]:
# Save to sql with dtype and index=False
title_b.to_sql('title_b',engine,dtype=df_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_b (tconst, `titleType`, `primaryTitle`, `originalTitle`, `isAdult`, `startYear`, `endYear`, `runtimeMinutes`, genres, genres_split) VALUES (%(tconst)s, %(titleType)s, %(primaryTitle)s, %(originalTitle)s, %(isAdult)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genres)s, %(genres_split)s)]
[parameters: ({'tconst': 'tt0035423', 'titleType': 'movie', 'primaryTitle': 'Kate & Leopold', 'originalTitle': 'Kate & Leopold', 'isAdult': 0, 'startYear': 2001.0, 'endYear': None, 'runtimeMinutes': 118, 'genres': 'Comedy,Fantasy,Romance', 'genres_split': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'titleType': 'movie', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'originalTitle': 'El Tango del Viudo y Su Espejo Deformante', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 70, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0069049', 'titleType': 'movie', 'primaryTitle': 'The Other Side of the Wind', 'originalTitle': 'The Other Side of the Wind', 'isAdult': 0, 'startYear': 2018.0, 'endYear': None, 'runtimeMinutes': 122, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0088751', 'titleType': 'movie', 'primaryTitle': 'The Naked Monster', 'originalTitle': 'The Naked Monster', 'isAdult': 0, 'startYear': 2005.0, 'endYear': None, 'runtimeMinutes': 100, 'genres': 'Comedy,Horror,Sci-Fi', 'genres_split': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0096056', 'titleType': 'movie', 'primaryTitle': 'Crime and Punishment', 'originalTitle': 'Crime and Punishment', 'isAdult': 0, 'startYear': 2002.0, 'endYear': None, 'runtimeMinutes': 126, 'genres': 'Drama', 'genres_split': ['Drama']}, {'tconst': 'tt0100275', 'titleType': 'movie', 'primaryTitle': 'The Wandering Soap Opera', 'originalTitle': 'La Telenovela Errante', 'isAdult': 0, 'startYear': 2017.0, 'endYear': None, 'runtimeMinutes': 80, 'genres': 'Comedy,Drama,Fantasy', 'genres_split': ['Comedy', 'Drama', 'Fantasy']}, {'tconst': 'tt0104278', 'titleType': 'movie', 'primaryTitle': 'Flaming Ears', 'originalTitle': 'Flaming Ears', 'isAdult': 0, 'startYear': 2013.0, 'endYear': None, 'runtimeMinutes': 84, 'genres': 'Fantasy,Sci-Fi', 'genres_split': ['Fantasy', 'Sci-Fi']}, {'tconst': 'tt0108549', 'titleType': 'movie', 'primaryTitle': 'West from North Goes South', 'originalTitle': 'West from North Goes South', 'isAdult': 0, 'startYear': 2004.0, 'endYear': None, 'runtimeMinutes': 96, 'genres': 'Comedy,Mystery', 'genres_split': ['Comedy', 'Mystery']}  ... displaying 10 of 83107 total bound parameter sets ...  {'tconst': 'tt9916190', 'titleType': 'movie', 'primaryTitle': 'Safeguard', 'originalTitle': 'Safeguard', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 95, 'genres': 'Action,Adventure,Thriller', 'genres_split': ['Action', 'Adventure', 'Thriller']}, {'tconst': 'tt9916362', 'titleType': 'movie', 'primaryTitle': 'Coven', 'originalTitle': 'Akelarre', 'isAdult': 0, 'startYear': 2020.0, 'endYear': None, 'runtimeMinutes': 92, 'genres': 'Drama,History', 'genres_split': ['Drama', 'History']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [27]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [28]:
title_r = pd.read_csv('Data/title_ratings.csv.gz')
title_r

           tconst  averageRating  numVotes
0       tt0000001            5.7      1920
1       tt0000002            5.8       260
2       tt0000005            6.2      2541
3       tt0000006            5.1       175
4       tt0000007            5.4       797
...           ...            ...       ...
472451  tt9916204            8.2       245
472452  tt9916348            8.5        17
472453  tt9916362            6.4      4935
472454  tt9916428            3.8        14
472455  tt9916720            5.3       270

[472456 rows x 3 columns]

In [29]:
# Save to sql with dtype and index=False
title_r.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

472456

In [31]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [32]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

155278

In [33]:
engine.execute('ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0035423' for key 'title_genres.PRIMARY'")
[SQL: ALTER TABLE title_genres ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)