# Preprocessing

In [1]:
import pandas as pd 
import numpy as np

In [2]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [4]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [7]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [8]:
basics.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"

In [9]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9292084 entries, 0 to 9292083
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 638.0+ MB

In [10]:
basics.describe()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,9292084,9292084,9292073,9292073,9292084,9292084,9292084,9292084,9292074
unique,9292084,11,4257926,4278522,9,151,98,876,2330
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,\N,\N,\N,Drama
freq,1,7010087,45448,45448,9003704,1242184,9194789,6789899,1053204

In [11]:
basics.replace({'\\N':np.nan})

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9292079,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,NaN,NaN,"Action,Drama,Family"
9292080,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,NaN,NaN,"Action,Drama,Family"
9292081,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,NaN,NaN,"Action,Drama,Family"
9292082,tt9916856,short,The Wind,The Wind,0,2015,NaN,27,Short
9292083,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,NaN,10,"Adventure,Animation,Comedy"

In [12]:
basics.dropna(subset=['runtimeMinutes', 'genres'])

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9292079,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9292080,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9292081,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9292082,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9292083,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [13]:
# only keeping 2000-2002
start_years = ['2000', '2001', '2002']
filt = basics['startYear'].isin(start_years)

In [14]:
# remove all but 'movie'
filter = basics['titleType'] == 'movie'
basics= basics.loc[filter]

In [15]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [16]:
akas.replace({'\\N':np.nan})

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
33475122,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
33475123,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
33475124,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
33475125,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
33475126,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [17]:
ratings.replace({'\\N':np.nan})

            tconst  averageRating  numVotes
0        tt0000001            5.7      1917
1        tt0000002            5.8       260
2        tt0000003            6.5      1725
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1238078  tt9916690            7.4         6
1238079  tt9916720            5.3       265
1238080  tt9916730            8.4         6
1238081  tt9916766            6.7        21
1238082  tt9916778            7.4        35

[1238083 rows x 3 columns]

In [18]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['region'])
keepers

8          False
498        False
570        False
587        False
610        False
           ...
9291881    False
9291933    False
9291973    False
9292013    False
9292024    False
Name: tconst, Length: 507373, dtype: bool

In [19]:
basics = basics[keepers]
basics

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [20]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          0 non-null      object
 1   titleType       0 non-null      object
 2   primaryTitle    0 non-null      object
 3   originalTitle   0 non-null      object
 4   isAdult         0 non-null      object
 5   startYear       0 non-null      object
 6   endYear         0 non-null      object
 7   runtimeMinutes  0 non-null      object
 8   genres          0 non-null      object
dtypes: object(9)
memory usage: 0.0+ bytes

In [21]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33475127 entries, 0 to 33475126
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [22]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238083 entries, 0 to 1238082
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238083 non-null  object
 1   averageRating  1238083 non-null  float64
 2   numVotes       1238083 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB

## Saving Data

In [23]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'title.akas.tsv.gz',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz',
 'title_basics.csv.gz']

In [24]:
# Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [25]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [26]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [27]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [28]:
# Open saved file and preview again
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [29]:
# Open saved file and preview again
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1917
1  tt0000002            5.8       260
2  tt0000003            6.5      1725
3  tt0000004            5.6       173
4  tt0000005            6.2      2541